<article id="article-content">
  <header class="entete1">
    <span class="title">Nos partenaires</span>
  </header>
  
  <div id="two-cols">
    <% unless @partenaires.empty? %>
      <ul>
        <% @partenaires.each do |p| %>
          <li>
            <%- if logo_present?(p) -%>
              <p class="logo"><%= image_tag(p.logo.url(:medium))%></p>
            <%- end -%>
    				<p class="partenaire-infos">
    					<span class="partenaire-name"><%= p.name %></span><br/>
    					<span class="addon-infos">
    					  <%-  unless p.weburl.blank? -%>
    					    <%= link_to p.weburl, p.weburl %><br/>
    					  <%- end -%>
    					  <%= p.adresse_complete %><br/>
    					  <%= p.email if p.email %><br/>
    					</span>
    					<% if user_signed_in? %>
    					  <%= link_to "Modifier", edit_partenaire_path(p) %> | <%= link_to "Supprimer", partenaire_path(p), :method => :delete %>
    					<% end %>
    				</p>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Soyez le premier à figurer dans notre liste de partenaires</p>
    <% end %>
  </div>
  
  <footer class="admin-links">
  	<%- if user_signed_in? -%>
      <p><%= link_to 'Ajouter un partenaire', new_partenaire_path %></p>
  	<%- end -%>
  </footer>
</article>