<div class="yui-g sliderfalse">
	<h1 class="entete1">Nos partenaires</h1>
	<% unless @partenaires.empty? %>
	<% @partenaires.in_groups_of(3, false) do |group| %>
		<% group.each do |p| %>
			<div class="partenaire">
				<p class="logo"><%= image_tag(p.logo.url(:medium)) %></p>
				<p>
					<%= p.name %><br/>
					<%= p.adresse_complete %><br/>
					<%= p.email if p.email %><br/>
					<%= link_to p.weburl, p.weburl if p.weburl %><br/>
					<% if user_signed_in? %>
					<%= link_to "Modifier", edit_partenaire_path(p) %> | <%= link_to "Supprimer", partenaire_path(p), :method => :delete %>
					<% end %>
				</p>
			</div>
		<% end %>
	<% end %>
	<%- end -%>
	
	<p>
		<%= link_to 'Ajouter un partenaire', new_partenaire_path %>		
	</p>
</div>
<div class="yui-gb maincontent">
	
</div>
