<article id="article-content">
  <header class="entete1">
    <span class="title">Nos partenaires</span>
  </header>
  
  <div id="two-cols">
    <% unless @partenaires.empty? %>
      <ul>
        <% @partenaires.each do |p| %>
          <li>
            <p class="logo"><%= image_tag(p.logo.url(:medium)) if logo_present?(p)%></p>
    				<p>
    					<%= p.name %><br/>
    					<%= link_to p.weburl, p.weburl if p.weburl %><br/>
    					<%= p.adresse_complete %><br/>
    					<%= p.email if p.email %><br/>
    					<% if user_signed_in? %>
    					  <%= link_to "Modifier", edit_partenaire_path(p) %> | <%= link_to "Supprimer", partenaire_path(p), :method => :delete %>
    					<% end %>
    				</p>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Soyez le premier à figurer dans notre liste de partenaires</p>
    <% end %>
  </div>
  
  <footer class="admin-links">
  	<%- if user_signed_in? -%>
      <p><%= link_to 'Ajouter un partenaire', new_partenaire_path %></p>
  	<%- end -%>
  </footer>
</article>