<div class="yui-gb sliderfalse">
	<h1 class="entete1">Nos articles</h1>
	<div class="article">
		<% if !@articles.blank? %>
		<ul class="articles">
			<% @articles.each do |article| %>
				<li>
				<span class="titre"><%= article.title %></span> : <%= truncate(article.content, :length => 120) %><br/>
				<%= link_to "Lire", article_path(article) %>
				<%- if user_signed_in? -%>
				 | <%= link_to "Modifier", edit_article_path(article) %>
				 | <%= link_to "Supprimer", article_path(article), :method => :delete %>
				<%- end -%>
				</li>
			<% end %>
			<% else %>
				<li class="article">
					Pas d'article pour l'instant
				</li>
			<% end %>
		</ul>
		<%= will_paginate @articles, :previous_label => "Précédent", :next_label => "Suivant" %>		
	</div>
</div>
<div class="yui-gb maincontent">

</div>