<article id="article-content">
  <header class="entete1">
    <span class="title">Nos articles</span>
  </header>
  
  <div id="two-cols">
    <% unless @articles.empty? %>
		<ul>
			<% @articles.each do |article| %>
				<li>
  				<%= link_to article.title, article_path(article), :class => "list-elt" %>
  				<%- if user_signed_in? -%>
  				 | <%= link_to "Modifier", edit_article_path(article) %>
  				 | <%= link_to "Supprimer", article_path(article), :method => :delete %>
  				<%- end -%>
				</li>
			<% end %>
		</ul>
		<% else %>
			<p>Pas d'article pour l'instant</p>
		<% end %>
  </div>
  
  <footer class="admin-links">
    <%= will_paginate @articles, :previous_label => "<< Précédent", :next_label => "Suivant >>" %>
    <% if user_signed_in? %>
		  <p><%= link_to "Ajouter un article", new_article_path() %></p>		
		<%- end -%>
  </footer>
</article>