<div class="yui-g sliderfalse">
	<h1 class="entete1">Nos articles</h1>
	<div class="article">
		<% if !@articles.blank? %>
		<ul class="articles">
			<% @articles.each do |article| %>
				<li>
				<span class="titre"><%= article.title %></span><br/>
				<%= link_to "Voir", article_path(article) %>
				<%- if user_signed_in? -%>
				 | <%= link_to "Modifier", edit_article_path(article) %>
				 | <%= link_to "Supprimer", article_path(article), :method => :delete %>
				<%- end -%>
				</li>
			<% end %>
			<% else %>
				<li class="article">
					Pas d'article pour l'instant
				</li>
			<% end %>
		</ul>
		<%= will_paginate @articles, :previous_label => "Précédent", :next_label => "Suivant" %>
		
		<p>
			<% if user_signed_in? %>
				<%= link_to "Ajouter un article", new_article_path() %>
			<%- end -%>
		</p>		
	</div>
</div>
