		<p>
			<%= f.label :titre, "Titre" %><br/>
			<%= f.text_field :titre %>
		</p>
		<p>
			<%= f.label :description, "Description" %><br/>
			<%= f.text_field :description %>
		</p>
	  <p>
	    <%= f.label :youtube_url %><br />
	    <%= f.text_field :youtube_url %>
	  </p>
	  <p>
	    <%= f.label :vimeo_url %><br />
	    <%= f.text_field :vimeo_url %>
	  </p>