<article id="article-content">
  <header class="entete1">
    <span class="title">Modifier une fiche video</span>
  </header>
  
  <div id="one-col">
    <div class="form">
  		<%= form_for(@video) do |f| %>
  		  <% if @video.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

            <ul>
            <% @video.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
  			<%= render :partial => 'form', :locals => {:f => f} %>	  
  		  <p><%= f.submit 'Mettre à jour' %></p>
  		<% end %>		
  	</div>
  </div>
  
  <footer class="admin-links">
    <%= link_to 'Voir', @video %> |
		<%= link_to 'Retour', videos_path %>
  </footer>
</article>