<div class="yui-g slider"> 
  	<div id="slider">
  		jQuery Slider
  	</div>
  </div> 
<div class="yui-gb maincontent"> 
      <div class="yui-u first">
		<h1 class="entete1">Dernières Publications</h1>
		<ul class="recent_articles">
			<% unless @articles.empty? %>
		 		<% @articles.each do |article| %>
					<li class="article">
						<%=h article.title %> : <%= truncate(article.content, :length => 50) %>
					</li>
				<% end %>
			<% else %>
				<li class="article">Pas d'articles pour le moment</li>
			<% end %>
		</ul>
			
  		
      </div> 
      <div class="yui-u">
		<h1 class="entete1">Prochains Evenements</h1>
	 	<ul class="next_events">
	 		<%- unless @events.empty? -%>
				<%- @events.each do |event| -%>
					<li class="event">
						<%=h event.title %> - <%= event.start_date %> / <%= event.end_date %> :	 <%= truncate(event.description, :length => 50) %>
					</li>
				<%- end -%>
			<%- else -%>
				<li class="event">Pas d'événements à venir pour le moment</li>
			<%- end -%>
	 	</ul>
  		
      </div> 
      <div class="yui-u"> 
      </div> 
  </div>