<header id="photos-slider">
  <div class="anythingSlider">
		<div class="wrapper">
			<ul>
				<li>
					<%= image_tag("slide-1.png") %>
				</li>
				<li>
					<%= image_tag("slide-2.jpg") %>
				</li>
				<li>
					<%= image_tag("slide-3.jpg") %>
				</li>
				<li>
					<%= image_tag("slide-4.jpg") %>
				</li>
			</ul>
		</div>
	</div>
</header>

<article id="articles">
  <header>Articles</header>
  <ul class="recent_articles">
		<% if !@articles.blank? %>
		  <% for article in @articles %>
		    <li><%= link_to article.title, article_path(article), :class => "list-elt"%></li>
		  <% end %>
		<% else %>
		  	<li class="article">Pas d'articles pour le moment</li>
		<% end %>			
	</ul>
</article>

<article id="programmes">
  <header>Programme</header>
  
  <p class="animated wobble" id="download-program">
    <%= link_to_if @programme, "Téléchargez le programme de l'année #{Date.today.year}", download_programme_programme_path(@programme) %>
  </p>
  
 	<ul class="next_events">
 		<%- unless @events.empty? -%>
			<%- @events.each do |event| -%>
				<li class="event">
					<span class="date"><%= formatted_date(event.start_date) %></span> : 
					<%= link_to(event.title, event_path(event)) %>
				</li>
			<%- end -%>
		<%- else -%>
			<li class="event">Pas d'événements à venir pour le moment</li>
		<%- end -%>
 	</ul>
 	
	<ul class="next_events">
	  <li><%= link_to "Voir les événements", events_path() %></li>
	</ul>
</article>

<article id="media">
  <header>Multimédia</header>
  
  <ul class="next_events">
		<li><%= @galleries_count %> galeries de photos, <%= link_to "à découvrir", galleries_path() %></li>
		<li><%= @videos_count %> vidéos, <%= link_to "à visionner", videos_path() %></li>
	</ul>
</article>

<footer id="content-footer">
  <!-- Social links to come … -->
</footer>

<% content_for :bottom_footer do %>
  <% if @visitors_count && @visitors_count > 1000 %>
	  <p class="visit-count"><%= @visitors_count %> visites</p>
	<% end %>
<% end %>
