<article id="article-content">
  <header class="entete1">
    <span class="title">Evénements à venir</span>
  </header>
  
  <div id="one-col">
    <%- unless @events.empty? -%>
			<%- @events.each do |event| -%>
			<div class="article">
				<p><span class="date"><%= formatted_date(event.start_date) %></span> :
				<b> <%=h event.title %></b><br/></p>
				<%=raw event.description %>
				<% if user_signed_in? %>
					<p>
						<%= link_to "Modifier", edit_event_path(event) %> | <%= link_to "Supprimer", event_path(event), :method => :delete, :confirm => "Certain ?" %>
					</p>
				<% end %>
			</div>
			<hr/>
			<%- end -%>
		<%- else -%>
			<p class="event">Pas d'événements à venir pour le moment</p>
		<%- end -%>	  
  </div>
  
  <div class="admin-links">
    <% if user_signed_in? %>
		  <p><%= link_to "Ajouter un événement", new_event_path() %></p>
	  <% end %>
  </div>
</article>