<%- content_for(:head) do -%>
	<%= stylesheet_link_tag 'screen' %>
	<%= javascript_include_tag 'easySlider1.7.js' %>
	 <script type="text/javascript">
		$(document).ready(function(){	
			$("#slider").easySlider(
				{
				auto: false, 
				continuous: true,
				prevText: '< Précédent',
				nextText: 'Suivant >' 
				}
			);
		});
	 </script>
<%- end -%>

<div class="yui-gb sliderfalse">
	<h1 class="entete1">Evénements à venir</h1>
	
	<% unless @events_fcfg.empty? && @events_fcg.empty? && @events_gccrp.empty? %>
	<div id="slider">
		<ul>
			<li>
				<%- unless @events_fcfg.empty? -%>
					<p class="fede">FCFG</p>
				<%- @events_fcfg.each do |event| -%>
					<p>
						<span class="date"><%= formatted_date(event.start_date) %></span> :
						<b> <%=h event.title %></b> <%= event.description %> <%= event.place %> 
					</p>
					<hr>
				<%- end -%>					
				<%- end -%>
			</li>
			
			<li>
				<%- unless @events_fcg.empty? -%>
					<p class="fede">FCG</p>
				<%- @events_fcg.each do |event| -%>
					<p>
						<span class="date"><%= formatted_date(event.start_date) %></span> :
						<b><%=h event.title %></b> <%= event.description %> <%= event.place %><br/> 
					</p>
					<hr>
				<%- end -%>					
				<%- end -%>
			</li>
			
			<li>
				<%- unless @events_gccrp.empty? -%>
					<p class="fede">GCCRP</p>
				<%- @events_gccrp.each do |event| -%>
					<p>
						<span class="date"><%= formatted_date(event.start_date) %></span> :
						<b><%=h event.title %></b> <%= event.description %> <%= event.place %><br/> 
					</p>
					<hr>
				<%- end -%>					
				<%- end -%>
			</li>
		</ul>
	</div>
	<% else %>
		<%- unless @events.empty? -%>
			<%- @events.each do |event| -%>
			<div class="article">
				<p><span class="date"><%= formatted_date(event.start_date) %></span> :
				<b> <%=h event.title %></b><br/></p>
				<%= event.description %>
				<% if user_signed_in? %>
					<p>
						<%= link_to "Modifier", edit_event_path(event) %> | <%= link_to "Supprimer", event_path(event), :method => :delete, :confirm => "Certain ?" %>
					</p>
				<% end %>
			</div>
			<%- end -%>
		<%- else -%>
			<p class="event">Pas d'événements à venir pour le moment</p>
		<%- end -%>
	<% end %>
</div>

<div class="yui-gb maincontent">
	<% if user_signed_in? %>
		<p><%= link_to "Ajouter un evenement", new_event_path() %></p>
	<% end %>
</div>
