<%- content_for(:head) do -%>
	<%= stylesheet_link_tag 'screen' %>
	<%= javascript_include_tag 'easySlider1.7.js' %>
	 <script type="text/javascript">
		$(document).ready(function(){	
			$("#slider").easySlider({
				auto: false, 
				continuous: true,
				prevText: 'Previous',
				nextText: 'Next'
			});
		});
	 </script>
<%- end -%>

<div class="yui-gb sliderfalse">
	<h1 class="entete1">Programme du Carnaval</h1>
	
	<div id="slider">
		<ul>
			<li>
					<p class="fede">FCFG</p>
				<%- unless @events_fcfg.empty? -%>
				<%- @events_fcfg.each do |event| -%>
					<p>
						<span class="date"><%= formatted_date(event.start_date) %></span> :<b> <%=h event.title %></b> <%= event.description %> <%= event.place %> <%# link_to "+ d'infos …", event_path(event.id) %>
					</p>
					<hr>
				<%- end -%>					
				<%- end -%>
			</li>
			
			<li>
					<p class="fede">FCG</p>
				<%- unless @events_fcg.empty? -%>
				<%- @events_fcg.each do |event| -%>
					<p>
						<span class="date"><%= formatted_date(event.start_date) %></span> :<b> <%=h event.title %></b> <%= event.description %> <%= event.place %><br/> <%# link_to "+ d'infos …", event_path(event.id) %>
					</p>
					<hr>
				<%- end -%>					
				<%- end -%>
			</li>
			
			<li>
					<p class="fede">GCCRP</p>
				<%- unless @events_gccrp.empty? -%>
				<%- @events_gccrp.each do |event| -%>
					<p>
						<span class="date"><%= formatted_date(event.start_date) %></span> :<b> <%=h event.title %></b> <%= event.description %> <%= event.place %><br/> <%# link_to "+ d'infos …", event_path(event.id) %>
					</p>
					<hr>
				<%- end -%>					
				<%- end -%>
			</li>
		</ul>
	</div>
	
	
</div>
<div class="yui-gb maincontent">

</div>
