<div class="yui-g sliderfalse">
	<h1 class="entete1">Enregistrez Evenement</h1>
	<div class="form">
		<% form_for @event, :html => {:multipart => true} do |f| -%>
		  	<%= f.error_messages %>

			<p>
				<%= f.label :federation, "Federation" %> :<br/> <%= f.select :federation, Event::FEDERATIONS, :include_blank => true %>
			</p>
			<p><%= f.label :title, "Titre" %> :<br/> <%= f.text_field :title %></p>
			<p><%= f.label :description, "Description" %> :<br/> <%= f.text_area :description, :rows => 10 %></p>
			<p><%= f.label :start_date, "Du" %> :<br/> <%= f.date_select :start_date, :order => [:day, :month, :year]  %></p>
			<p><%= f.label :end_date, "Au" %> :<br/> <%= f.date_select :end_date, :order => [:day, :month, :year]  %></p>

			<p>
				<%= f.submit "Enregistrer" %>
			</p>
		<% end -%>
	</div>

</div>
<div class="yui-gb maincontent">

</div>
