		<%= form_for gallery do |f| -%>
			<% if gallery.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

          <ul>
          <% gallery.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      	  
			<table cellpadding="10">
				<tr>
					<td valign="top">
						<p>
					  		<%= f.label :name, "Nom" %> : <%= f.text_field :name %><br/>
					  	</p>
						<p>
							<%= f.label :description, "Description" %> :<br/>
							 <%= f.text_area :description %>
						</p>
						<p>
							<%= link_to "Retour", galleries_path() %>
						</p>
					</td>
          <!-- <td>
          <%# f.fields_for :images do |image_form| %>
            <p>
              <%# image_form.label :name , "Nom Photo" %> :
              <%# image_form.text_field :name %>
            </p>
            <p>
              <%# image_form.label :description, "Description" %> :<br/>
              <%# image_form.text_area :description, :rows => 2 %>
            </p>
            <p>
              <%# image_form.label :Photo %> : <%# image_form.file_field :photo %>
            </p>
            <%# unless image_form.object.new_record? %>
                  <%# image_form.check_box '_destroy' %>
                  <%# image_form.label '_destroy', 'Supprimer' %>
            <%# end %>
          <%# end %>
          </td> -->
				</tr>
				<tr>
					<td colspan="2">
						<p class="button">
							<%= f.submit "Enregistrer" %>
						</p>
					</td>
				</tr>
			</table>
		<% end -%>