<article id="article-content">
  <header class="entete1">
    <span class="title">Galeries de Photos</span>
  </header>
  
  <div id="two-cols" class="larger">
    <% unless @galleries.empty? %>
  	  <% for gallery in @galleries %>
  	    <%- unless gallery.name.blank? -%>
    		  <p class="gallery-name"><b><%= gallery.name %></b></p>
    		<%- end -%>
  		  <%- unless gallery.description.blank? -%>
  			  <p><%= gallery.description %></p>
  			<%- end -%>
  			
  			<table class="galleryindex">
  				<%- gallery.images.in_groups_of(5, false) do |groups| -%>
  				<tr>
  					<%- groups.each do |image| -%>
  					<td><%= image_tag(image.photo.url(:sthumb), :class => "gal-prev", :size =>"80x65") unless image.photo.url =~ /missing.png/ %></td>
  					<%- end -%>
  				</tr>
  				<%- end -%>
  			</table>
  			<p>
  				<%= link_to "Voir ce diaporama", gallery_path(gallery), :class => "list-elt" %>
  				<% if user_signed_in? %>
  				| <%= link_to "Modifier", edit_gallery_path(gallery) %> | <%= link_to "Supprimer", gallery_path(gallery), :method => :delete %>
  				<% end %>
  			</p>
  	  <% end %>
  	<% else %>
  	  <p>Pas de galleries de photos enregistrer pour le moment</p>
  	<% end %>
  </div>
  
  <footer class="admin-links">
    <%= will_paginate @galleries, :previous_label => "<< Précédent", :next_label => "Suivant >>"  %>
    <%- if user_signed_in? -%>
			<p><%= link_to "Ajouter une gallerie de photos", new_gallery_path() %></p>
		<%- end -%>
  </footer>
</article>
