<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Author" name="Author" content="GM WebAgency" lang="fr">
	<meta http-equiv="keywords" name="keywords" lang="fr" content="Office du Carnaval de la Guadeloupe, Carnaval, Patrimoine, Culture, DOM-TOM , Guadeloupe, Martinique, Musique">
	<meta http-equiv="Decription" name="Description" content="L'office du carnaval de la Guadeloupe oeuvre à la promotion culturelle du Carnaval Guadeloupéen">
    <title><%= h(yield(:title) || "Office du Carnaval de la Guadeloupe") %></title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
    <%= stylesheet_link_tag 'base' %>
    <%= yield(:head) %>
	<%= javascript_include_tag 'jquery-1.4', 'jquery.lavalamp.js' %>
	<script type="text/javascript">
	    $(function() { $(".lavaLamp").lavaLamp({ fx: "linear", speed: 300 })});
	</script>
  </head>
  <body>
	<div id="doc4" class="yui-t7"> 
	     <div id="hd" role="banner">
			<div id="logo">
				<img id="layout_05" src="images/layout_05.png" alt="" />
			</div>
			<div id="menus">
				<ul class="lavaLamp">
					<li><a href="#">Accueil</a></li>
					<li><a href="#">Missions</a></li>
					<li><a href="#">Articles</a></li>
					<li><a href="#">Galleries</a></li>
					<li><a href="#">Liens</a></li>
				</ul>
			</div>
		</div> 
	     <div id="bd" role="main">
		 	<%- flash.each do |name, msg| -%>
			  <%= content_tag :div, msg, :id => "flash_#{name}" %>
			<%- end -%>
	      	<div class="yui-g sliderfalse"> 
		      	<div id="slider">
		      		jQuery Slider
		      	</div>
		      </div> 
	      	<div class="yui-gb maincontent"> 
		          <div class="yui-u first"> 
		      <!-- YOUR DATA GOES HERE --> Data
		              </div> 
		          <div class="yui-u"> 
		      <!-- YOUR DATA GOES HERE --> Data
		              </div> 
		          <div class="yui-u"> 
		      <!-- YOUR DATA GOES HERE --> Data
		              </div> 
		      </div>    
	      </div> 
	     <div id="ft" role="contentinfo"><p>Footer</p></div> 
	 </div>
  </body>
</html>