<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Author" name="Author" content="GM WebAgency" lang="fr">
	<meta http-equiv="keywords" name="keywords" lang="fr" content="Office du Carnaval de la Guadeloupe, Carnaval, Patrimoine, Culture, DOM-TOM , Guadeloupe, Martinique, Musique">
	<meta http-equiv="Decription" name="Description" content="L'office du carnaval de la Guadeloupe oeuvre à la promotion culturelle du Carnaval Guadeloupéen">
    <title><%= h(yield(:title) || "Office du Carnaval de la Guadeloupe") %></title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
    <%= stylesheet_link_tag 'base' %>
	<%= javascript_include_tag 'jquery-1.4', 'jquery.lavalamp.js' %>
	<%= yield(:head) %>
	<script type="text/javascript">
	    $(function() { $(".lavaLamp").lavaLamp({ fx: "linear", speed: 300 })});
	</script>
	<%= include_tiny_mce_if_needed %>
  </head>
  <body>
	<div id="doc4" class="yui-t7"> 
	     <div id="hd" role="banner">
			<div id="logo">
				<img id="layout_05" src="/images/layout_05.png" alt="" />
			</div>
			<div id="menus">
				<ul class="lavaLamp">
					<li><a href="/">Accueil</a></li>
					<li><a href="#">Missions</a></li>
					<li><%= link_to "Articles", articles_path() %></li>
					<li><%= link_to "Galleries", galleries_path() %> </li>
					<li><%= link_to "Liens", partenaires_path() %></li>
				</ul>
				<%- if user_signed_in? -%>
					 <p class="logoutpanel">
					 	<%= link_to "Logout", destroy_user_session_path() %>
					 </p>
				<%- end -%>
			</div>

		</div> 
	     <div id="bd" role="main">
			<% if flash[:notice] %>
				<div id="flashmessages">
						<%= flash[:notice] %>
				</div>
			<%- end -%>
	 		<%= yield %>
		  </div> 
		     <div id="ft" role="contentinfo">
				<p>
					Copyright © 2009-<%= Date.today.year if Date.today.year > 2009 %>
					Conception : <%= link_to "GMWebAgency", "http://www.gmwebagency.com" %><br/>
					<%= image_tag("logoCR.jpg", :size => "60x60") %>
				</p>
			</div>
	 </div>
  </body>
</html>