<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Author" name="Author" content="TropicalCoders" lang="fr">
  	<meta http-equiv="keywords" name="keywords" lang="fr" content="Office du Carnaval de la Guadeloupe, Carnaval, Patrimoine, Culture, DOM-TOM , Guadeloupe, Martinique, Musique">
  	<meta http-equiv="description" name="description" content="L'office du carnaval de la Guadeloupe oeuvre à la promotion culturelle du Carnaval Guadeloupéen">
    <title><%= h(yield(:title) || "Office du Carnaval de la Guadeloupe") %></title>
    <%= stylesheet_link_tag "application" %>
  	<%= javascript_include_tag "application" %>
  	<%= yield(:head) %>
  	<%= csrf_meta_tags %>
	</head>
	
	<body>
    <!-- TODO : display with animation -->
	  <section id="flash-messages">
	    <% if alert %><div id="alert"><%= alert %></div><% end %>
	    <% if notice %><div id="notice"><%= notice %></div><% end %>
	  </section>	  
	  
		<header id="page-header">
		  <div id="logo"><%= image_tag("logo_ocg.png", :alt => "Logo OCG") %></div>
		  
		  <nav id="menus">
		    <ul class="lavaLamp">
					<li><a href="/">Accueil</a></li>
					<li><%= link_to "Articles", articles_path() %></li>
					<li><%= link_to "Galeries", galleries_path() %> </li>
					<li><%= link_to "Liens", partenaires_path() %></li>
					<%- if user_signed_in? -%>
          <li><%= link_to t(:logout), destroy_user_session_path %></li>
          <%- else -%>
          <li><%= link_to t(:login), new_user_session_path %></li>
          <%- end -%>
          <!-- <li><a href="#">Missions</a></li> -->
				</ul>
		  </nav>
		</header>
		
		<section id="content">
		  <%= yield %>
		</section>
		
		<footer id="page-footer">
		  <nav id="menus">
	      <ul>
					<li><a href="/">Accueil</a></li>
					<li><%= link_to "Articles", articles_path() %></li>
					<li><%= link_to "Galeries", galleries_path() %> </li>
					<li><%= link_to "Liens", partenaires_path() %></li>
					<%- if user_signed_in? -%>
					<li><%= link_to t(:logout), destroy_user_session_path %></li>
					<%- else -%>
					<li><%= link_to t(:login), new_user_session_path %></li>
					<%- end -%>
          <!-- <li><a href="#">Missions</a></li> -->
				</ul>
	    </nav>
	    <p>
				Copyright © 2009-<%= Date.today.year if Date.today.year > 2009 %>
				Conception : <%= link_to "GMWebAgency", "http://www.gmwebagency.com" %><br/><br/>
				<%= image_tag("logoCR.jpg", :size => "60x60") %>
			</p>
		</footer>
	</body>
</html>
